@import 'styles/variaveis'; // Importa as variáveis de estilo (como cores e tamanhos)
@import 'styles/breakpoints'; // Importa os pontos de interrupção para design responsivo

.voltar {
  background-color: transparent; // Define o fundo como transparente para o botão "Voltar"
  border: none; // Remove a borda padrão do botão
  color: $red; // Define a cor do texto usando a variável de cor vermelha
  cursor: pointer; // Altera o cursor para indicar que é clicável
  font-size: 1.5rem; // Define o tamanho da fonte
  font-weight: bold; // Deixa o texto em negrito
}

.container {
  align-items: center; // Centraliza os itens no eixo cruzado (vertical)
  display: flex; // Define o layout como flexbox
  flex-direction: column; // Alinha os itens em uma coluna
  gap: 20px; // Adiciona um espaçamento de 20px entre os elementos do contêiner
}

.titulo {
  font-size: 3rem; // Define o tamanho da fonte do título
}

.imagem {
  width: 600px; // Define a largura máxima da imagem

  img {
    border-radius: 8px; // Arredonda levemente os cantos da imagem
    width: 100%; // Faz a imagem ocupar toda a largura do contêiner
  }
}

.conteudo {
  align-items: center; // Centraliza os itens no eixo cruzado (vertical)
  display: flex; // Define o layout como flexbox
  flex-direction: column; // Alinha os itens em uma coluna

  &__descricao {
    color: $darkest-grey; // Define a cor do texto usando a variável "darkest-grey"
    font-size: 1.5rem; // Define o tamanho da fonte
    font-weight: bold; // Deixa o texto em negrito
  }

  &____detalhes {
    display: flex; // Define o layout como flexbox
    justify-content: space-between; // Distribui o espaço igualmente entre os itens
  }
}
